@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
  color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}
header {
  background-image: url(./assets/home/background-home-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

div.crew {
  background-image: url(./assets/crew/background-crew-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

div.tech {
  background-image: url(./assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
div.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px 40px 40px;
  position: relative;
}

nav {
  width: 700px;
  max-width: 900px;
  background-color: red;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Background blur effect */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 0;
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 50px;
}

nav ul li {
  margin-right: 30px;
  position: relative;
}

nav ul li a.active::after {
  top: 49px;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: white;
  transition: width 0.3s;
}

hr.home {
  position: absolute;
  width: 500px;
  left: 150px;
  z-index: 100;
  border: none;
  background-color: rgb(144, 144, 144);
  height: 1px;
}

div.hamburger {
  display: none;
}

div.close {
  display: none;
}

div.content {
  display: flex;
  justify-content: space-between;

  padding: 50px 160px;
  margin-top: 50px;
}

div.content2 {
  display: flex;
  justify-content: space-between;

  padding: 50px 160px;
  margin-top: 50px;
}

div.content3 {
  display: flex;
  justify-content: space-between;

  padding: 50px 160px;
  margin-top: 50px;
}
div.job {
  padding: 0px 160px;
}

div.content-mars {
  gap: 200px;
}

div.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.left2 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.left3 {
  width: 50%;
  display: flex;
  flex-direction: column;
}

div.left h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

div.left h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

div.left2 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

div.left2 h2 {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 20px;
  color: rgb(134, 134, 134); /* Semi-transparent background */
}

div.left3 h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

div.left3 h2 {
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 20px;
  color: rgb(134, 134, 134); /* Semi-transparent background */
}

div.job span {
  color: rgb(134, 134, 134);
}

div.circles {
  margin-top: 50px;
  display: inline-flex;
  gap: 20px;
}

div.circle {
  background-color: rgb(134, 134, 134);
  width: 20px;
  height: 20px;

  border-radius: 50%;
}

div.circle1 {
  border:1px solid rgb(134, 134, 134);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  color: white;
  background-color: transparent;
}

div.circles .active {
  background-color: white;
}

div.circles1 .active {
  background-color: white;
  color: black;
}

div.left3 p{
  width: 400px;
}
div.crew-inner img,
div.tech-inner img {
  width: 400px;
}
div.right div.explore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
}

div.right-home {
  margin-top: 50px;
}

div.right-home h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}
div.right-home p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
div.measure {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

div.measure p {
  font-size: 1rem;
}

div.measure p:nth-child(2) {
  font-size: 1.5rem;
  margin-top: -20px;
}
div.links {
  margin-bottom: 20px;
}

div.links ul {
  display: flex;
  list-style: none;
}
div.links button {
  margin-right: 25px;
  font-size: 15px;
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

div.links button.active2::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}
div.explore h2 {
  color: black;
}

div.left p {
  width: 400px;
  line-height: 40px;
}

div.destination {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.moon {
  width: 350px;
  margin-top: 20px;
  margin-left: 100px;
}

.mars-left h3 {
  font-size: 1.5rem;
}
@media screen and (max-width: 1300px) {
  hr.home {
    display: none;
  }
  div.content,
  div.job {
    padding: 50px 50px;
  }
  div.content2,div.content3 {
    padding: 50px 50px;
    margin-top: 50px;
  }
  div.destination {
    height: 150vh;
  }
  div.crew,div.tech {
    height: 150vh;
  }
  div.content-mars {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .moon {
    width: 350px;
    margin-top: 20px;
    margin-left: 0px;
  }

  .mars-left {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  div.links {
    margin: 0 auto;
    text-align: center;
    display: inline-flex;
    margin-bottom: 10px;
  }

    div.circles1{
    text-align: center;
    margin: 0 auto;
    display: block;
    gap: 20px;

  }
}

@media screen and (max-width: 840px) {
  header {
    height: 120vh;
    background-image: url(./assets/home/background-home-tablet.jpg);
  }
  /* Hide the navigation by default */
  nav {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .nav-links {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #070e20;
    z-index: 100;
    transition: right 0.3s ease-in-out;
  }
  div.close {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    margin-bottom: 40px;
  }

  nav ul {
    display: block;
    height: 100%;
  }

  nav ul li {
    margin-right: 0;
    margin-top: 60px;
  }

  nav ul li a.active::after {
    display: none;
  }
  div.hamburger {
    display: block;
    position: absolute;
    right: 40px;
    cursor: pointer;
  }

  .nav-open {
    right: 0; /* Slide in the nav */
  }

  div.content {
    display: block;
    padding: 50px 20px;
    text-align: center;
    margin: 0 auto;
  }

  div.content2,div.content3 {
    display: block;
    text-align: center;
    padding: 50px 20px;
    margin-top: 0 auto;
  }

  div.right div.explore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
  }

  div.left {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }

  div.left2,div.left3 {
    width: 100%;
    display: block;
    margin-bottom: 50px;
  }

  div.left p {
    width: 100%;
    padding: 0px 10px;
  }
  div.left2 p {
    width: 100%;
    padding: 0px 10px;
  }

  div.left3 p{
  width: 100%;
}

  div.job {
    width: 100%;
    padding: 0;
    text-align: center;
  }

    div.circles1{
    text-align: center;
    margin: 0 auto;
    display: inline-flex;
    gap: 20px;

  }

  div.tech-inner img,div.crew-inner img{
    width: 100%;
  }
}
